.input {
  position: relative;
  padding: 0.625rem 1rem;
  overflow: auto;
  max-height: 5rem;

  border-radius: 4px;
  border: 1px solid var(--placeholder-color);
  background: #fff;

  &::before {
    content: "Message";
    color: var(--placeholder-color);
    display: block;
    pointer-events: none;
    position: absolute;
    opacity: 0;
  }

  &:empty::before {
    opacity: 1;
  }
  &SvgContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.625rem;
    margin-bottom: 1.375rem;
  }
  &Svg {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}
