.time {
  font-family: var(--default-font);
  color: var(--text-color-second);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.564rem; /* 75% */
  margin-left: 0.75rem;
  display: flex;
  gap: 2px;
}
