.header {
  display: flex;
  gap: 0.5rem;
  padding: 20px 0 20px 16px;
  font-weight: bold;
  height: 4rem;
  &__title {
    font-family: var(--default-font);
    color: var(--text-color-base);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 133.333% */
  }
}
