.greateProject {
  display: grid;
  grid-template-columns: minmax(0, 360px) 3fr;
  grid-template-rows: 3.75rem 1fr;
  font-family: "Lato", sans-serif;

  &Header {
    grid-column: 2/3;
    box-shadow: 0px -1px 0px 0px rgba(32, 31, 30, 0.12) inset;
  }
  &ChatItemList {
    grid-column: 1/2;
    grid-row: 1/-1;
    height: 100vh;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      /* height: 16px; */
    }
  }
  &ChatWindow {
    grid-column: 2/3;
    background: white;
  }
}
